{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ client.cin }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ client.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ client.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ client.adresse }}</td>
            </tr>
            <tr>
                <th>DateNaiss</th>
                <td>{{ client.dateNaiss ? client.dateNaiss|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NumPermis</th>
                <td>{{ client.numPermis }}</td>
            </tr>
            <tr>
                <th>Nationnalite</th>
                <td>{{ client.nationnalite }}</td>
            </tr>
            <tr>
                <th>DateDeLivranPermis</th>
                <td>{{ client.dateDeLivranPermis ? client.dateDeLivranPermis|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client_index') }}">back to list</a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
